Flask==0.10.1
Flask-Migrate==1.8.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
LibAppArmor==2.9.3
Mako==1.0.4
MarkupSafe==0.23
PyGeoj==0.22
SQLAlchemy==1.0.12
Werkzeug==0.11.5
alembic==0.8.5
apparmor==2.9.3
click==6.6
decorator==4.0.9
geocoder==1.12.0
geopy==1.11.0
gunicorn==19.4.5
itsdangerous==0.24
py==1.4.22
pygobject==3.14.0
python-editor==1.0
ratelim==0.1.6
requests==2.9.1
six==1.10.0
